.cstm-row {
    margin-right: 0 !important;
}

.container-cars {
    margin: 0 auto;
    width: 100%;
    padding: 0rem 7rem;
}

.container-cars-model {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cars-card {
    margin: 0.5rem;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0.5rem 1rem var(--shadow-color);
    position: relative;
    overflow: hidden;
}

.cars-card__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cars-card,
.cars-card__img {
    width: 30rem;
    height: 20rem;
}

.cars-card__years {
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
}

.cars-card img {
    transition: all 400ms ease-out;
    will-change: transform;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
}

.cars-card .cars-card__body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shadow-color);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
}

.cars-card:hover>.cars-card__body {
    opacity: 1;
    visibility: visible;
}

.cars-card:hover>.cars-card__body h5 {
    margin-top: 1rem;
    text-align: left;
}

.cars-card:hover>img {
    transform: scale(1.3);
    opacity: 0.4;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.cars-card__body h5 {
    text-align: left;
    margin-top: 1rem;
    color: var(--secondary-color);
    font-weight: 400;
    transition: all 400ms ease-out;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
}

.cars-card__body p {
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    margin-top: auto;
    text-align: justify;
}

@media screen and (max-width: 991px) {
    .container-cars {
        padding: 0rem 2rem;
    }
}