.home__label {
	color: var(--primary-color);
	text-align: center;
	text-shadow: 0 0.5rem 1rem var(--shadow-color);
	font-size: 4rem;
}

.home__sublabel {
	padding-top: 6rem;
	color: var(--secondary-color);
	text-shadow: 0 0.5rem 1rem var(--shadow-color);
	font-size: 2rem;
	font-weight: bold;
}

@media (max-width: 991px) {
	.home__label {
		padding-top: 5rem;
	}

	.home__sublabel {
		text-align: center;
	}
}