.cstm-navbar {
	background-color: #fff;
	border-bottom: 1px solid var(--primary-color);
	box-shadow: 0 0.5rem 1rem var(--shadow-color);
}

.nav-item .active {
	color: var(--primary-color) !important;
	font-weight: 700;
}
